.div1-activites{
       position:relative;
       top:140px;
       background-color: white;
       color: black;
    /* height:3161px;  */
     
     
 }

.imge-sport-1  .img-sport-1-2{
    width:100%; 
    height:40rem;   
}
.nav-bagckround{
       background-color:rgb(255, 221, 0) ;
       height: 90px;
       color: black;
       font-size: 30px;
       text-align: center;
       padding-top: 45px;
       margin-top: -50px;
}
.imge-sport-1  .text-Activites{
       margin-top: -100px;
       font-size: 50px;
       margin-left:200px;
       color: rgb(247, 220, 12);  
       font-family: "Parkinsans", sans-serif;    
}

.text-container1{
      margin-top:300px;
      font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      text-transform:capitalize;
      margin-left: -100px;
} 
.text-container1  .my-h1-activites-1{
       color: black;
       margin-top: -40px;
       font-size: 40px; 
}


.text-container1   .my-h1-activites-1{                   
       font-size:50px;
       margin-left:300px;
}

.text-container1   .my-h1-activites-2{
    margin-left:500px;
    margin-top: -7px;
    color: rgb(168, 168, 15);
}
.discription-activites-1{
     margin-top: 200px;
     margin-left:150px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.text-Nos-activites-1{
    font-size: 25px;
    border-bottom: 3px solid rgb(243, 194, 20);  
    width:14%;   
    color: black;
    margin-left: -90px; 
    margin-top: 100px;
    font-family: 'Times New Roman', Times, serif;

}
.discription-activites-1  .img-activites-1{
       width:40%;   
       margin-left:690px; 
       margin-top: -350px; 
       border-radius: 10px ;
}
.text-Nos-activites-2{
    font-size: 30px;
    border-bottom: 3px solid rgb(243, 194, 20);  
    width:40%; 
    color: black;
    margin-left: 10px;      
}

.img-activites-1:hover{
       transform: scale(1.1);
       transition: 1s;
       box-shadow: 0px 0px 20px 0px   rgb(247, 251, 14);     
}
.paragrapge-1-activites{
     font-size: 20px; 
     margin-left:-90px;  
}
.discription-activites-2{
       margin-top: 70px;
       margin-left:50%; 
}
.paragraphe-activites-2{
     font-size: 20px;     
}
.discription-activites-2  .img-activites-2{
      margin-left:-645px;
      margin-top: -500px;
      height: 500px;
      width: 74%;    
       border-radius: 10px;
}
.img-activites-2:hover{
       transform: scale(1.1);
       transition: 1s;
       box-shadow: 0px 0px 20px 0px   rgb(247, 251, 14);     
}
.btn-SINSCRIRE .btn-link-SINSCRIRE{
         background-color:rgb(255, 221, 0) ;    
         padding: 5px;
         border-radius:3px;
         font-size: 35px;
         border: 1px solid white;
         margin-left: 650px;
         margin-top:50px;
         transition: all .9s;
}
.btn-SINSCRIRE .btn-link-SINSCRIRE  .link{
       color: rgb(56, 55, 59);
       transition: all .9s;
}
.btn-SINSCRIRE .btn-link-SINSCRIRE:hover{
       border-radius:13px; 
       background-color: rgb(56, 55, 59);
}   
.btn-SINSCRIRE .btn-link-SINSCRIRE:hover .link{
       color: rgb(255, 221, 0) !important;
}
.title-DÉCOUVRE-activites{
    text-align: center;
    margin-top: 70px;
    padding-top: 20px;
    padding-bottom: 10px;
}
.title-DÉCOUVRE-activites-1{
         color: black;
         margin-left: 100px;
}
.title-DÉCOUVRE-activites .title-choix-activites{
       color: rgb(218, 207, 5);
       font-size: 25px;
       margin-left: 20px;
       margin-top: 20px;

}
.img-activites{
        margin-top:50px;
        margin-left:80px; 
}
.img-activites .img-muscilation{
     width: 49%;
     margin-left: -11px;
     margin-top: -11px;
     padding-top: -11px;
     border-radius: 4PX;
}  
.compent-newleste{
       /* margin-top: -4px;  */
       padding: 40px;      
}
.newslettemotion{
       margin-bottom: 100px !important;
}


