.container-TRAINING{
    position:relative;
    top:140px;
    background-color: white;
    color: black;
    /* height:3430px; */
}

.text-TRAINING{
    margin-top: -300px;
    font-size: 50px;
    margin-left:100px;
    color: rgb(247, 220, 12);  
    font-family: "Parkinsans", sans-serif;  
}
.text-container1  .my-h1-TRAINING-1{
    color: black;
    margin-top: -40px;
    font-size: 40px; 
    text-align: center;
}


.text-container1   .my-h1-TRAINING-2{
 margin-left:500px;
 margin-top: -7px;
 color: rgb(255, 221, 0);
}

.img-1-TRAINING{
     margin-top:-400px;
      width: 40%;
      height: 400px;
      margin-left: 780px;
}
.img-1-TRAINING:hover{
       transition: 1s;
       transform: scale(1.1);
       box-shadow: 0 0 30px 0 rgb(241, 244, 148);
}

.text-Nos-TRAINING-1{
    font-size:25px;
    border-bottom: 3px solid rgb(255, 221, 0);  
    width:18%;   
    color: black;
    margin-left: -10px; 
    margin-top: 100px;
}
.discription_parahraf_1_TRAINING{
    margin-top:10px;
    font-size: 19px;
    margin-left: -90px;
}

.img-TRAINING-2{
    margin-left:-550px;
    margin-top: -900px;
    height: 400px;
    width: 70%;     
    border-radius: 10px;
 }
 .img-TRAINING-2:hover{
    transform: scale(1.1);
    transition: 1s;
    box-shadow: 0 0 30px 0 rgb(241, 244, 148);
 }
 .paragraphe_discription_TRAINING_2{
      margin-top: 10px;
      margin-left:50px;
      font-size: 18px;
      
 }
 .titre_Pour_Qui_TRAINING_2{
    color: black; 
    margin-left:100px;  
    border-bottom: 3px solid  rgb(255, 221, 0);
    width: 15%;
    font-size: 20px;
 }

 .POUR_QUOI_3_TRAINING{
    font-size:20px;
    color: black; 
    margin-left: 14px;  
    border-bottom: 3px solid  rgb(255, 221, 0);
    width: 10%; 
    margin-left: -75px;  
}
.paragraph_dicription_3_TRAINING{
    margin-left: -100px;
    margin-top: 10px;
    font-size: 20px;
}
.img3-TRAINING{ 
    margin-left: 790px;  
    margin-top: -389px;
    border-radius: 30px;
    width: 40%;
}
.img3-TRAINING:hover{
       transform: scale(1.1);
       transition: 1s;
       box-shadow: 0 0 30px 0 rgb(241, 244, 148);
}