.container-TRAINING{
    position:relative;
    top:140px;
    background-color: white;
    color: black;
    /* height:3430px; */
}

.text-TRAINING{
    margin-top: -300px;
    font-size: 50px;
    margin-left:100px;
    color: rgb(247, 220, 12);  
    font-family: "Parkinsans", sans-serif;  
}
.text-container1  .my-h1-TRAINING-1{
    color: black;
    margin-top: -40px;
    font-size: 40px; 
    text-align: center;
}


.text-container1   .my-h1-TRAINING-2{
 margin-left:500px;
 margin-top: -7px;
 color: rgb(255, 221, 0);
}

.img-1-TRAINING{
    margin-top:-400px;
      width: 40%;
      height: 400px;
      margin-left: 690px;
}

.text-Nos-TRAINING-1{
    border-bottom: 3px solid rgb(255, 221, 0);  
    width: 100px;   
    color: black;
    margin-left: -10px; 
    margin-top: 100px;
}
.discription_parahraf_1_TRAINING{
    margin-top:10px;
}

.img-TRAINING-2{
    margin-left:-550px;
    margin-top: -250px;
    height: 400px;
    width: 70%;     
    border-radius: 10px;
 }
 .paragraphe_discription_TRAINING_2{
      margin-top: 10px;
      margin-left:100px;
 }
 .titre_Pour_Qui_TRAINING_2{
    color: black; 
    margin-left:100px;  
    border-bottom: 3px solid  rgb(255, 221, 0);
    width: 29%;
 }

 .POUR_QUOI_3_TRAINING{
    color: black; 
    margin-left: 14px;  
    border-bottom: 3px solid  rgb(255, 221, 0);
    width: 19%; 
    margin-left: -30px;  
}
.paragraph_dicription_3_TRAINING{
    margin-left: -30px;
    margin-top: 10px;
}
.img3-TRAINING{ 
    margin-left: 680px;  
    margin-top: -389px;
    border-radius: 30px;
    width: 40%;
}
