.div1-collictife{
    position:relative;
    top:140px;
    background-color: white;
    color: black;
    /* height:3599px; */
}
.text-Activites_1{
    margin-top: -300px;
    font-size: 40px;
    margin-left:20px;
    color: rgb(247, 220, 12);  
    font-family: "Parkinsans", sans-serif;  
}

.text-container1   .my-h1-COLLECTIFS-1{
    color: black;
    margin-left: 500px;
    margin-top: -40px;
    font-size: 40px; 
}


.text-container1  .my-h1-COLLECTIFS-2{                   
    font-size:50px;
    margin-top: -3px;
    margin-left:500px;
    color: black;
}

.text-COLLECTIFS-1{
    font-size: 23px;
    border-bottom: 3px solid rgb(243, 194, 20);  
    width: 10%;   
    color: black;
    margin-left: -35px; 
    margin-top: 100px;

}
.paragraph_discription_1_colluctife{
       margin-top: 10px;
       font-size: 17px;
       margin-left: -50px;
}
.img-colluctife-1{
    width: 40%;   
    margin-left:750px; 
    margin-top: -350px; 
    border-radius: 10px ;
}
.img-colluctife-1:hover{
     transform: scale(1.2);
     transition: 1s;
     box-shadow:0 0 40px 0 rgb(199, 197, 197);
}
.text-Nos-colluctife-2{
    border-bottom: 3px solid rgb(243, 194, 20);  
    width:25%;   
    font-size: 19px;
    color: black;
    margin-left:100px; 
    margin-top: 100px;  
}
.discription-activites-2{
    margin-top: 70px;
    margin-left:50%; 
}
.discription-activites-2  .img-colluctife-2{
   margin-left:-600px;
   margin-top: -469px;
   height: 500px;
   width: 74%;     
   border-radius: 10px;
}
.img-colluctife-2:hover{
    transform: scale(1.2);
    transition: 1s;
    box-shadow:0 0 40px 0 rgb(199, 197, 197);  
}
.paragraphe_discription_colluctife_2{
     margin-top: 10px;
     margin-left:100px;
     font-size: 20px;
}

.paragraph_dicription_colluctife_3{
    margin-left: -90px;
    margin-top: 10px;
    font-size: 20px;

}
.POUR_QUOI_colluctif_3{
    font-size: 20px;
    border-bottom: 3px solid rgb(243, 194, 20);  
    width:10%;
    color: black;
    margin-left: -90px; 
    margin-top: 100px;
}
.DÉCOUVRE-collictife_3{
     color: black;
     margin-left: 30px;
}
.img3-colluctife_3{ 
    width:40%;
    margin-left: 780px;  
    margin-top: -240px;
    border-radius: 10px;
}
.img3-colluctife_3:hover{
    transform: scale(1.1);
    transition: 1s;
    box-shadow:0 0 40px 0 rgb(199, 197, 197);  
}
