@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Roboto:wght@300;400;500&display=swap');

.gym-selection-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: 'Poppins', sans-serif;
  margin-top: 15%;

}

h1 {
  margin-bottom: 20px;
  font-size: 26px;
  font-weight: bold;
  color: #ffbf00;
  font-style: italic;

}

.search-input {
  width: 60%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.gym-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
  overflow-y: auto; 
  max-height: 500px; 
}

.gym-cards {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow-y: auto; 
}

.gym-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.gym-card h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
}

.gym-card p {
  font-size: 16px;
  line-height: 1.6;
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
}

.gym-card .icon {
  margin-right: 8px; 
  font-size: 16px;
  color: #262626;
}


.subscribe-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #ffbf00;
  font-family: 'Poppins', sans-serif;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  margin-right: 10px;
  color: #000000;
  cursor: pointer;
  font-size: 14px;
}

.subscribe-button:hover {
  background-color: #e0a800;
}

.map-container {
  flex: 2;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .gym-selection-container {
    margin-top: 50%;
  }

  h1 {
    font-size: 22px;
  }

  .search-input {
    width: 100%; 
  }

  .gym-content {
    flex-direction: column; 
    gap: 15px;
  }

  .gym-cards {
    width: 100%; 
  }

  .map-container {
    height: 250px; 
  }
}


@media (max-width: 1024px) {
  .gym-content {
    flex-wrap: wrap; 
    gap: 15px;
  }

  .gym-card {
    padding: 10px;
  }

  .subscribe-button {
    font-size: 12px;
  }

  .map-container {
    height: 300px;
  }
}