@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Roboto:wght@300;400;500&display=swap');


.login-container {
    background-color: #1e1e1e;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif; 
  }
 
  
  .login-title {
    font-size: 20px;
    margin-bottom: 30px;
    text-align: center;
    font-style: italic;
  }
  

  .login-form {
    background: white;
    border-radius: 5px;
    padding: 20px;
    width: 500%;
    max-width: 520px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }
  
  .input-group {
    margin-bottom: 15px;
    width: 480px;
  }
  
  .input-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .input-group input:focus {
    border-color: #ffcc00;
    outline: none;
  }
  

  .login-button {
    width: 100%;
    padding: 12px;
    background-color: #ffcc00;
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-button:hover {
    background-color: #e6b800;
  }
  

  .login-links {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
  }
  
  .login-links a {
    color: #000000;
    text-decoration: none;
    font-size: 15px;
  }
  
  .login-links a:hover {
    text-decoration: underline;
  }
  

  .login-footer {
    margin-top: 20px;
    font-size: 14px;
    color: white;
  }
  
  .login-footer a {
    color: #ffcc00;
    text-decoration: none;
    font-weight: bold;
  }
  
  .login-footer a:hover {
    text-decoration: underline;
  }

  