.FAQ{
    margin-top: 100px;
}
.FAQ img{
    height: 700px;
    width: 100%;
}

.FAQ .title{
    position: absolute;
    color: white;
    left: 50%;
    font-size: 60px;
    padding: 20px;
    border-radius: 3px;
    transform: translate(-50%,-500px);
}
.FAQ .aides{
    display: flex;
    height: 280px;
    justify-content: space-around;
}
.FAQ .aides .aidelink{
    text-decoration: none;
    width: 25%;
}
.FAQ .aides .aidelink .aide{
    margin-top: 10px;
    background-color: white;
    width: 100%;
    height: 270px;
    display: flex;
    align-items: center;
    padding: 10px;
    flex-direction: column;
    justify-content: space-around;
}
.FAQ .aides .aide .bi{
    height: 130px;
    width: 130px;
    color:rgb(255, 238, 124) ;
    transition: all .9s;
}
.FAQ .aides .aide .titles{
    font-size: 30px;
    font-weight: bolder;
    color: rgb(255, 238, 124);
    transition: all .9s;
}
.FAQ .aides .aide:hover .titles{
    color:rgb(56, 55, 59) ;
}
.FAQ .aides .aide:hover .bi{
    color:rgb(56, 55, 59) ;
}